<template>
  <div class="flex border-b border-40">
    <div class="w-1/4 py-4">
      <h4 class="font-normal text-80">Location</h4>
    </div>
    <div class="w-3/4 py-4 break-words">
      <GmapMap
        :center="{
          lat: field.value.coordinates[0],
          lng: field.value.coordinates[1],
        }"
        :zoom="field.zoom || 14"
        :options="{
          mapTypeControl: false,
          streetViewControl: false,
          rotateControl: false,
          fullscreenControl: false,
        }"
        map-type-id="terrain"
        style="width: 100%; height: 300px"
      >
        <GmapMarker
          :key="index"
          :position="{
            lat: field.value.coordinates[0],
            lng: field.value.coordinates[1],
          }"
          :clickable="false"
          :draggable="false"
        />
      </GmapMap>
    </div>
  </div>
</template>

<script>
export default {
  props: ['resource', 'resourceName', 'resourceId', 'field'],
};
</script>
