<template>
  <default-field :field="field" :errors="errors">
    <template slot="field">
      <GmapMap
        :center="value"
        :zoom="field.zoom || 14"
        :options="{
          mapTypeControl: false,
          streetViewControl: false,
          rotateControl: false,
          fullscreenControl: false,
        }"
        map-type-id="terrain"
        style="width: 100%; height: 300px"
        ref="mapRef"
        v-on:click="handleClick"
      >
        <GmapMarker
          :key="index"
          :position="value"
          :clickable="false"
          :draggable="false"
        />
      </GmapMap>
      <input
        :id="latitude"
        type="hidden"
        class="w-full form-control form-input form-input-bordered"
        :class="errorClasses"
        placeholder="Latitude"
        v-model="value.lat"
      />
      <input
        :id="longitude"
        type="hidden"
        class="w-full form-control form-input form-input-bordered"
        :class="errorClasses"
        placeholder="Longitude"
        v-model="value.lng"
      />
    </template>
  </default-field>
</template>

<script>
import { FormField, HandlesValidationErrors } from 'laravel-nova';

export default {
  mixins: [FormField, HandlesValidationErrors],

  props: ['resourceName', 'resourceId', 'field'],

  methods: {
    setInitialValue() {
      const data = this.field.value
        ? {
            lat: this.field.value.coordinates[0],
            lng: this.field.value.coordinates[1],
          }
        : { lat: 51.501833, lng: -0.140648 };
      this.value = data;
    },
    fill(formData) {
      const data = this.value
        ? JSON.stringify(this.value)
        : JSON.stringify({ lat: 51.501833, lng: -0.140648 });
      formData.append(this.field.attribute, data);
    },
    handleClick(e) {
      this.$refs.mapRef.$mapPromise.then((map) => {
        const position = { lat: e.latLng.lat(), lng: e.latLng.lng() };
        map.panTo(position);
        this.value = position;
      });
    },
  },
};
</script>
