.lists-menu{
    li{
        list-style-type:none;        
    }
}
.lists-menu-inline{
    li{
        display:inline-block;
    }
}
.lists-menu-light,
.lists-menu-social-light{
    a{
        color:#fff;
        text-decoration:none;
        &:hover{
            text-decoration:none;
        }
    }
}
.lists-menu-social-light{
    span{
        display:inline-block;
        margin-left:0.5rem;
    }
}
.lists-menu-divider{
    li{
        &:after{
            content:"|";
            margin-left: 0.25rem;
        }
        &:last-child{
            &:after{
                content:"";
            }
        }
    }
}