.lists-tags{
    li{
        list-style-type: none;
    }
}
.lists-tags-inline{
    li{
        display:inline-block;
        &:after{
            content: ", "
        }
        &:first-child,
        &:last-child{
            &:after {
                content: "";
            }
        }
    }    
}